* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#TraceUpdatesWebNodePresenter {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    margin: auto;
    padding: 13px 0px 0px 0px;
    width: max-content;
}

h2 {
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    margin: auto;
    padding: 0 0 15px 0;
    text-align: center;
    width: max-content;
}

h3 {
    color: #7c7c7c;
    margin: auto;
    width: max-content;
}

h4 {
    color: #383838;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    margin: auto;
    text-align: center;
    width: max-content;
}

p {
    display: inline-block;
    font-weight: bold;
    width: max-content;
}

hr {
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
    clear: both;
    display: block;
    font-size: 1px;
    height: 0;
    line-height: 0;
    max-height: 0;
    margin: 8px auto;
    padding: 0;
    position: relative;
    width: 100%;
}

ul {
    list-style-type: none;
    height: 400px;
    overflow: scroll;
    padding: 0;
}

.samples-table-block {
    width: 40%;
}

.samples-block {
    width: 60%;
}

.samples-tables-sample {
    margin: 3px auto;
    margin-top: 6px;
    width: fit-content;
}

#sample-overlay {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    height: 480px;
    padding: 30px 60px;
    position: absolute;
    width: 100%;
}

#sample-overlay.loading {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

@keyframes loadingFrame {
    50% {
        background-position: right center;
    }
}

.loading {
    animation-name: loadingFrame;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    background-size: 200% auto;
}

@keyframes finishedLoading {
    0% {
        background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
        opacity: 0.9;
    }
    100% {
        background-image: none;
        background-color: #a6c0eef5;
        opacity: 1;
    }
}

.finished {
    animation-name: finishedLoading;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    background-color: #66e08f;
}

#sample-button-group {
    margin: auto;
    width: fit-content;
}

.onOff {
    opacity: 0;
    z-index: -10;
}

#sample-content {
    display: flex;
    margin: 30px auto auto auto;
    width: 600px;
}

#sample-list-wrapper {
    margin: auto 0 auto 30px;
    overflow: hidden;
    width: 50%;
}

.sample-list {
    height: 275px;
    margin: 10px 0;
    overflow: scroll;
}

#sample-container-vertical-wrapper {
    margin: auto;
    width: 50%;
}

#sample-container-horizontal-wrapper {
    margin: auto;
    width: fit-content;
}

.sample-container {
    margin: auto;
}

.select-shape-h3 {
    margin: 0;
}

.active-batch-arrow {
    vertical-align: bottom;
}

.sample-li {
    color: rgb(66, 64, 66);
    font-weight: bold;
    font-size: 1.1em;
    height: 25px;
    margin: 5px;
}

.sample-li:hover {
    cursor: pointer;
}

.sample-li-batch {
    color: rgb(66, 64, 66);
    font-weight: bold;
    font-size: 1.1em;
    position: absolute;
    margin-top: -2px;
    margin-left: 18px;
    height: 25px;
}

.sample-li-batch:hover {
    cursor: pointer;
}

#app-heading-container {
    background-image: linear-gradient(to bottom, rgba(207, 244, 210, 0.7) 0%, #ffffff 90%);
    width: 100%;
}

canvas {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.canvasHasBeenSet {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(221, 105, 105, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(221, 105, 105, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(221, 105, 105, 0.75);
    transition: box-shadow 0.15s ease-in-out;
}

button {
    border-radius: 8px;
    height: 30px;
    margin: 10px 10px;
    transition: background-color 0.35s ease-in-out;
    width: 100%;
}

button:hover {
    cursor: pointer;
    background-color: #ffdbb8;
    transition: background-color 0.25s ease-in-out;
}

.App {
    margin: auto;
    width: fit-content;
}

.samples-tables-block-holder {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 20px;
    width: 300px;
}

.samples-tables-block-content-holder {
    display: flex;
}

.canvas-block-holder {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 20px;
}

#identification-canvas-block {
    width: fit-content;
    margin: 50px auto;
    display: block;
}

.button-container {
    display: flex;
}

.inputNumberClass {
    display: inline-block;
    margin: 0 0 0 10px;
    width: 70px;
}

#generate-button-container {
    margin: auto;
    width: fit-content;
}

#generate-button-container button {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 1em;
    height: auto;
    margin: auto;
    padding: 10px;
    width: 300px;
}

@keyframes identifyContainerFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#identifyer-container {
    animation-name: identifyContainerFadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    opacity: 1;
    margin: auto;
    width: 100%;
    height: 500px;
}

#identification-canvas-block {
    display: flex;
}

@keyframes ProbabilitiesFadeIn {
    0% {
        opacity: 0;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        margin-left: 40px;
    }
}

#identification-canvas-probabilities {
    animation-name: ProbabilitiesFadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    margin-left: 40px;
    position: relative;
    opacity: 1;
}

ol {
    padding: none !important;
}

.sample-button {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    font-size: 1em;
    height: auto;
    padding: 10px;
    width: 300px;
}

.loading-process {
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 7s;
    background-size: 350% auto;
    margin-top: 24px;
}

.left-process {
    animation-name: loadingFrame;

    background-image: linear-gradient(to right, #A1FFCE 0%, #F7F8F8 40%, #A1FFCE 120%);

    left: 0;
    position: absolute;
    padding: 30px 60px;
    width: 130px;
    height: 500px;
    z-index: -10;
}

.right-process {
    transform: rotate(180deg);


    animation-name: loadingFrame;

    background-image: linear-gradient(to right, #A1FFCE 0%, #F7F8F8 40%, #A1FFCE 120%);

    right: 0;
    position: absolute;
    padding: 30px 60px;
    width: 130px;
    height: 500px;
    z-index: -10;
}

.instructions {
    animation-name: loadingFrame;

    background-image: linear-gradient(to right, #ef629f 0%, #f0d3ad 40%, #ef629f 120%);

    position: absolute;
    padding: 30px 60px;
    width: 100%;
}

#lower-half-text {
    color: #252629f5;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
    margin: auto;
    text-align: center;
    width: 85%;
}

.default-samples-batch-text {
    margin: 200px auto 0;
    width: fit-content;
}

.starting-process-information {
    color: #252629f5;
    font-size: 1.5em;
    font-weight: 700;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    width: fit-content;
}

.starting-process-information span {
    margin-left: 25px;
    margin-right: 25px;
}

.starting-process-information span i{
    color: #2526298a;
    font-weight: 500;
}