* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#TraceUpdatesWebNodePresenter {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    margin: auto;
    padding: 13px 0px 0px 0px;
    width: max-content;
}

h2 {
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    margin: auto;
    padding: 0 0 15px 0;
    text-align: center;
    width: max-content;
}

h3 {
    color: #7c7c7c;
    margin: auto;
    width: max-content;
}

h4 {
    color: #383838;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    margin: auto;
    text-align: center;
    width: max-content;
}

p {
    display: inline-block;
    font-weight: bold;
    width: max-content;
}

hr {
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
    clear: both;
    display: block;
    font-size: 1px;
    height: 0;
    line-height: 0;
    max-height: 0;
    margin: 8px auto;
    padding: 0;
    position: relative;
    width: 100%;
}

ul {
    list-style-type: none;
    height: 400px;
    overflow: scroll;
    padding: 0;
}

.samples-table-block {
    width: 40%;
}

.samples-block {
    width: 60%;
}

.samples-tables-sample {
    margin: 3px auto;
    margin-top: 6px;
    width: fit-content;
}

@keyframes loadingFrame {
    50% {
        background-position: right center;
    }
}

@keyframes finishedLoading {
    0% {
        background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
        opacity: 0.9;
    }
    100% {
        background-image: none;
        background-color: #a6c0eef5;
        opacity: 1;
    }
}

#sample-list-wrapper {
    margin: auto 0 auto 30px;
    overflow: hidden;
    width: 50%;
}

.sample-list {
    height: 275px;
    margin: 10px 0;
    overflow: scroll;
}

.select-shape-h3 {
    margin: 0;
}

.active-batch-arrow {
    vertical-align: bottom;
}

.sample-li {
    color: rgb(66, 64, 66);
    font-weight: bold;
    font-size: 1.1em;
    height: 25px;
    margin: 5px;
}

.sample-li:hover {
    cursor: pointer;
}

.sample-li-batch {
    color: rgb(66, 64, 66);
    font-weight: bold;
    font-size: 1.1em;
    position: absolute;
    margin-top: -2px;
    margin-left: 18px;
    height: 25px;
}

.sample-li-batch:hover {
    cursor: pointer;
}

canvas {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.canvasHasBeenSet {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(221, 105, 105, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(221, 105, 105, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(221, 105, 105, 0.75);
    transition: box-shadow 0.15s ease-in-out;
}

button {
    border-radius: 8px;
    height: 30px;
    margin: 10px 10px;
    transition: background-color 0.35s ease-in-out;
    width: 100%;
}

button:hover {
    cursor: pointer;
    background-color: #ffdbb8;
    transition: background-color 0.25s ease-in-out;
}

.App {
    margin: auto;
    width: fit-content;
}

.samples-tables-block-holder {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 20px;
    width: 300px;
}

.samples-tables-block-content-holder {
    display: flex;
}

.canvas-block-holder {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 20px;
}

#identification-canvas-block {
    width: fit-content;
    margin: 50px auto;
    display: block;
}

.button-container {
    display: flex;
}

.inputNumberClass {
    display: inline-block;
    margin: 0 0 0 10px;
    width: 70px;
}

#generate-button-container {
    margin: auto;
    width: 100%;
}

#generate-button-container button {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 1em;
    height: auto;
    margin: auto;
    padding: 10px;
    width: 300px;
}

@keyframes identifyContainerFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#identifyer-container {
    animation-name: identifyContainerFadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    opacity: 1;
    margin: auto;
    width: 100%;
    height: 500px;
}

#identification-canvas-block {
    display: flex;
}

@keyframes ProbabilitiesFadeIn {
    0% {
        opacity: 0;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        margin-left: 40px;
    }
}

#identification-canvas-probabilities {
    animation-name: ProbabilitiesFadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    margin-left: 40px;
    position: relative;
    opacity: 1;
}

ol {
    padding: none !important;
}

.sample-button {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    font-size: 1em;
    height: auto;
    padding: 10px;
    width: 300px;
}

.loading-process {
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 7s;
    background-size: 350% auto;
}


.loading-process-sides {
    animation-name: loadingFrame;

    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 7s;
    background-size: 220% auto;
}

.left-process {
    background-image: linear-gradient(to right, rgba(161, 255, 206, 0.74) 0%, rgba(255, 194, 144, 0.67) 50%, rgba(161, 255, 206, 0.74) 100%);
    border-radius: 80%;
    box-shadow: 0 0 20px 20px white inset;
    left: -400px;
    top: 0px;
    position: absolute;
    width: 500px;
    height: 800px;

    z-index: -10;
}

.right-process {
    transform: rotate(180deg);

    background-image: linear-gradient(to right, rgba(161, 255, 206, 0.74) 0%, rgba(255, 194, 144, 0.67) 50%, rgba(161, 255, 206, 0.74) 100%);
    border-radius: 80%;
    box-shadow: 0 0 20px 20px white inset;
    right: -400px;
    top: 0px;
    position: absolute;
    width: 500px;
    height: 800px;

    z-index: -10;
}

@keyframes slide-fwd-right {
    0% {
        -webkit-transform: translateZ(0) translateX(-3000px);
                transform: translateZ(0) translateX(-3000px);
    }
    100% {
        -webkit-transform: translateZ(120px) translateX(0);
                transform: translateZ(120px) translateX(0);
    }
}

.strikIn-instructions {
    -webkit-animation: slide-fwd-right 0.9s cubic-bezier(0.47, 0, 0.85, 1.13) forwards;
            animation: slide-fwd-right 0.9s cubic-bezier(0.47, 0, 0.85, 1.13) forwards;
}



.instructions {
    animation-name: loadingFrame;

    background-image: linear-gradient(to right, #ef629f -20%, #f0d3ad 50%, #ef629f 120%);

    margin-top: 19px;
    position: absolute;
    padding: 29px 60px;
    width: 100%;
}

.instructions-finish {
    animation-name: loadingFrame;

    background-image: linear-gradient(to right, #02d4a0 -20%, #caeb95 50%, #02d4a0 120%);

    margin-top: 19px;
    position: absolute;
    padding: 29px 60px;
    width: 100%;
}

.instructions-loading {
    animation-name: loadingFrame;

    background-image: linear-gradient(to right, rgba(102, 255, 176, 0.74) 0%, rgba(255, 194, 144, 0.67) 50%, rgba(102, 255, 176, 0.74) 100%);

    margin-top: 57px;
    position: absolute;
    padding: 29px 60px;
    width: 100%;
}

.instructions-text {
    opacity: 0.88;
    display: block;
    margin: auto;
    width: fit-content;
}


#lower-half-text {
    color: #252629f5;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
    margin: auto;
    text-align: center;
    width: 85%;
}

.default-samples-batch-text {
    margin: 200px auto 0;
    width: fit-content;
}

.starting-process-information {
    color: #252629f5;
    font-size: 1.5em;
    font-weight: 700;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    width: fit-content;
}

.starting-process-information span {
    margin-left: 25px;
    margin-right: 25px;
}

.starting-process-information span i{
    color: #2526298a;
    font-weight: 500;
}

.app-heading-container {
    background-image: linear-gradient(to right, rgba(102, 255, 176, 0.74) 0%, rgba(255, 194, 144, 0.67) 50%, rgba(102, 255, 176, 0.74) 100%);
    border-radius: 50%;
    box-shadow: 0 0 10px 10px white inset;
    width: 100%;
    z-index: -10;
}

.loading-v {
    animation-name: loadingFrame;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    background-size: 220% auto;
    margin-top: 0;
}

.input-number-wrapper {
    margin: auto;
    width: fit-content;
}

.identification-canvas-wrapper {
    margin: auto;
    width: fit-content;
}

.identification-canvas-button {
    margin: 7px !important;
    box-shadow: none !important;
    font-size: revert !important;
    height: 30px !important;
    padding: 0 !important;
    width: 100% !important;
}